
/* index.css */

@tailwind base;
@tailwind components;
@tailwind utilities;




.animated-background {
  position: absolute;
  inset: 0;
  overflow: hidden;
  z-index: 0;
}

.floating-icon {
  position: absolute;
  width: 64px;
  height: 64px;
  animation: float 10s ease-in-out infinite;
  pointer-events: none;
}

@keyframes float {
  0% {
    transform: translateY(0) rotate(0deg);
  }
  50% {
    transform: translateY(-50vh) rotate(180deg);
  }
  100% {
    transform: translateY(0) rotate(360deg);
  }
}

.animate-glow {
  animation: glow 6s ease-in-out infinite;
}

@keyframes glow {
  0%, 100% {
    text-shadow: 0 0 10px rgba(0, 255, 100, 0.4);
  }
  50% {
    text-shadow: 0 0 30px rgba(0, 255, 100, 0.5);
  }
}

.glow-on-hover::before {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  width: 300%;
  height: 300%;
  background: rgba(255, 0, 0, 0.2);
  transition: all 0.3s ease;
  border-radius: 50%;
  transform: translate(-50%, -50%) scale(0);
}

.glow-on-hover:hover::before {
  transform: translate(-50%, -50%) scale(1);
}


/* Hover Effect on Nav Links */
nav a:hover {
  transform: scale(1.1);
  color: #00f; /* Blue color on hover */
  transition: transform 0.3s ease, color 0.3s ease;
}

/* Fade out background */
.transition-background {
  transition: background-color 1s ease-in-out, opacity 1s ease-in-out;
}

.bg-black-transition {
  background-color: black !important;
  opacity: 0 !important;
}

/* Fade in */
.fade-in {
  opacity: 0;
  animation: fadeInAnimation 1s forwards;
}

@keyframes fadeInAnimation {
  to {
    opacity: 1;
  }
}